
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499759592067'); /* IE9*/
  src: url('iconfont.eot?t=1499759592067#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499759592067') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499759592067') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499759592067#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suoxiao:before { content: "\e63b"; }

.icon-zhantie:before { content: "\e6de"; }

.icon-textalignjustify:before { content: "\e694"; }

.icon-liangchi:before { content: "\e60e"; }

.icon-yulan:before { content: "\e62e"; }

.icon-shanchu:before { content: "\e621"; }

.icon-youduiqi:before { content: "\e6f5"; }

.icon-zuoduiqi:before { content: "\e6f7"; }

.icon-tuceng:before { content: "\e653"; }

.icon-v-top-copy:before { content: "\e678"; }

.icon-save:before { content: "\e82d"; }

.icon-fuzhi:before { content: "\e689"; }

.icon-fangda-copy:before { content: "\e602"; }

.icon-juzhongduiqi:before { content: "\e67c"; }

.icon-tianzigetubiao-:before { content: "\e601"; }

.icon-jianqie:before { content: "\e72f"; }

.icon-dingduiqi:before { content: "\e608"; }

.icon-diduiqi:before { content: "\e609"; }

.icon-yizhidiceng:before { content: "\e63e"; }

.icon-handle:before { content: "\e738"; }

.icon-xiayiyiceng:before { content: "\e64a"; }

.icon-shangyiyiceng:before { content: "\e64b"; }

.icon-dingceng:before { content: "\e64c"; }

