/* common */
  *{
    font-size: 12px;
    margin:0;
    padding:0;
    font-family: -apple-system, "SF UI Text", "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Zen Hei", sans-serif;
    /*font-family: "Microsoft YaHe";*/
  }
  a:-webkit-any-link{
    color: inherit;
  }
  a{
    text-decoration: none;
  }
  a:link{
    text-decoration:none;
  }
  a:visited{
    text-decoration:none;
  }
  a:hover{
    text-decoration:none;
  }
  a:active{
    text-decoration:none;
  }
  html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  ::-webkit-scrollbar {
      width: 4px;
      height: 12px;
  }
  ::-webkit-scrollbar-track-piece{      
      background-color: transparent;
    /*  -webkit-border-radius: 6px;*/
  }
  ::-webkit-scrollbar-thumb:vertical{
      height: 8px;
      width: 3px;     
      background-color: rgba(0,0,0,0.2);
      -webkit-border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:horizontal{
      width: 4px;
      background-color: #c9c9c9;      
     /* -webkit-border-radius: 6px;*/
  }
  Pseudo ::scrollbar-corner element
  ::-webkit-scrollbar-corner {
      background-color: #c9c9c9;
  }
  Pseudo ::scrollbar-thumb element
  ::-webkit-scrollbar-thumb {
      background-color: #c9c9c9;
    
      border-radius: 4px;
  }
  Pseudo ::scrollbar-track element
  ::-webkit-scrollbar-track {
      background-color: #c9c9c9;     
  }
  input{
    outline: 0;
  }
  li{
    list-style-type: none;
  }
  .content{
    min-height: 1800px;
    margin-bottom: 100px;
  }  
  .wrap_login{
    float: right;
  }
  .hline .click-hline{
    width: 100%;
    height: 9px;
    margin-top: -5px;    
  }
  .sline .click-sline{
    width: 9px;
    height: 100%;
    margin-left: -5px;
  }