/* ------------- 悬浮特效 --------------- */
  .enlarge img{
    transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -moz-transition: transform 0.3s; /* Firefox 4 */
    -webkit-transition: transform 0.3s; /* Safari 和 Chrome */
    -o-transition: transform 0.3s; 
  }
  .enlarge img:hover{
    transform:scale(1.2,1.2);
    -ms-transform:scale(1.2,1.2);   /* IE 9 */
    -moz-transform:scale(1.2,1.2);  /* Firefox */
    -webkit-transform:scale(1.2,1.2); /* Safari 和 Chrome */
    -o-transform:scale(1.2,1.2);   
  }  
  .left img{
    transform:scale(1.1,1.1);
    -ms-transform:scale(1.1,1.1);   /* IE 9 */
    -moz-transform:scale(1.1,1.1);  /* Firefox */
    -webkit-transform:scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:scale(1.1,1.1);
    transition: transform 0.3s;
    -moz-transition: transform 0.3s; /* Firefox 4 */
    -webkit-transition: transform 0.3s; /* Safari 和 Chrome */
    -o-transition: transform 0.3s; 
  }
  .left img:hover{
    transform:translateX(-5%) scale(1.1,1.1);
    -ms-transform:translateX(-5%) scale(1.1,1.1);   /* IE 9 */
    -moz-transform:translateX(-5%) scale(1.1,1.1);  /* Firefox */
    -webkit-transform:translateX(-5%) scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:translateX(-5%) scale(1.1,1.1);
  }
  .right img{
    transform:scale(1.1,1.1);
    -ms-transform:scale(1.1,1.1);   /* IE 9 */
    -moz-transform:scale(1.1,1.1);  /* Firefox */
    -webkit-transform:scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:scale(1.1,1.1);
    transition: transform 0.3s;
    -moz-transition: transform 0.3s; /* Firefox 4 */
    -webkit-transition: transform 0.3s; /* Safari 和 Chrome */
    -o-transition: transform 0.3s; 
  }
  .right img:hover{
    transform:translateX(5%) scale(1.1,1.1);
    -ms-transform:translateX(5%) scale(1.1,1.1);   /* IE 9 */
    -moz-transform:translateX(5%) scale(1.1,1.1);  /* Firefox */
    -webkit-transform:translateX(5%) scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:translateX(5%) scale(1.1,1.1);
  }
  .moveup{ 
     transition: transform 0.3s;
    -moz-transition: transform 0.3s; /* Firefox 4 */
    -webkit-transition: transform 0.3s; /* Safari 和 Chrome */
    -o-transition: transform 0.3s; /* Opera */
  }
  .moveup:hover{
    transform:translateY(-5%);
    -ms-transform:translateY(-5%);   /* IE 9 */
    -moz-transform:translateY(-5%);  /* Firefox */
    -webkit-transform:translateY(-5%); /* Safari 和 Chrome */
    -o-transform:translateY(-5%);
  }
  #app .on_module:hover{
    transform:translateY(0%);
    -ms-transform:translateY(0%);   /* IE 9 */
    -moz-transform:translateY(0%);  /* Firefox */
    -webkit-transform:translateY(0%); /* Safari 和 Chrome */
    -o-transform:translateY(0%);
  }
  /*图片形状*/
  .square{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);   /* IE 9 */
    -moz-transform:translate(-50%,-50%);  /* Firefox */
    -webkit-transform:translate(-50%,-50%); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%);
    width: 118px;
    height: 118px;
    overflow: hidden;
  }
  .square img{
    width: auto!important;
    height: auto;
    margin: 50% 0 0 50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);   /* IE 9 */
    -moz-transform:translate(-50%,-50%);  /* Firefox */
    -webkit-transform:translate(-50%,-50%); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%);
  }
  .right .square img{
    transform:translate(-50%,-50%) scale(1.1,1.1);
    -ms-transform:translate(-50%,-50%) scale(1.1,1.1);   /* IE 9 */
    -moz-transform:translate(-50%,-50%) scale(1.1,1.1);  /* Firefox */
    -webkit-transform:translate(-50%,-50%) scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%) scale(1.1,1.1);
  }
  .right .square img:hover{   
    transform:translate(-45%,-50%) scale(1.1,1.1);
    -ms-transform:translate(-45%,-50%) scale(1.1,1.1);   /* IE 9 */
    -moz-transform:translate(-45%,-50%) scale(1.1,1.1);  /* Firefox */
    -webkit-transform:translate(-45%,-50%) scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:translate(-45%,-50%) scale(1.1,1.1);
  }

  .left .square img{
    transform:translate(-50%,-50%) scale(1.1,1.1);
    -ms-transform:translate(-50%,-50%) scale(1.1,1.1);   /* IE 9 */
    -moz-transform:translate(-50%,-50%) scale(1.1,1.1);  /* Firefox */
    -webkit-transform:translate(-50%,-50%) scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%) scale(1.1,1.1);
  }
  .left .square img:hover{   
    transform:translate(-55%,-50%) scale(1.1,1.1);
    -ms-transform:translate(-55%,-50%) scale(1.1,1.1);   /* IE 9 */
    -moz-transform:translate(-55%,-50%) scale(1.1,1.1);  /* Firefox */
    -webkit-transform:translate(-55%,-50%) scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:translate(-55%,-50%) scale(1.1,1.1);
  }
  .enlarge .square img:hover{
    transform:translate(-50%,-50%) scale(1.2,1.2);
    -ms-transform:translate(-50%,-50%) scale(1.2,1.2);   /* IE 9 */
    -moz-transform:translate(-50%,-50%) scale(1.2,1.2);  /* Firefox */
    -webkit-transform:translate(-50%,-50%) scale(1.2,1.2); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%) scale(1.2,1.2);
  }  
  .fillet{
    border-radius: 15%;
    transform: scale(1,1);
    -ms-transform:scale(1,1);   /* IE 9 */
    -moz-transform:scale(1,1);  /* Firefox */
    -webkit-transform:scale(1,1); /* Safari 和 Chrome */
    -o-transform:scale(1,1);
  }
  .round{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);   /* IE 9 */
    -moz-transform:translate(-50%,-50%);  /* Firefox */
    -webkit-transform:translate(-50%,-50%); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%);
    border-radius: 50%;   
    width: 118px;
    height: 118px;
    overflow: hidden;
  }
  .round img{
    width: auto!important;
    height: auto;
    margin: 50% 0 0 50%;
    transform:translate(-50%,-50%) ;
    -ms-transform:translate(-50%,-50%);   /* IE 9 */
    -moz-transform:translate(-50%,-50%);  /* Firefox */
    -webkit-transform:translate(-50%,-50%); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%);
  }
  .right .round img{
    transform:translate(-50%,-50%) scale(1.1,1.1);
    -ms-transform:translate(-50%,-50%) scale(1.1,1.1);   /* IE 9 */
    -moz-transform:translate(-50%,-50%) scale(1.1,1.1);  /* Firefox */
    -webkit-transform:translate(-50%,-50%) scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%) scale(1.1,1.1);
  }
  .right .round img:hover{   
    transform:translate(-45%,-50%) scale(1.1,1.1);
    -ms-transform:translate(-45%,-50%) scale(1.1,1.1);   /* IE 9 */
    -moz-transform:translate(-45%,-50%) scale(1.1,1.1);  /* Firefox */
    -webkit-transform:translate(-45%,-50%) scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:translate(-45%,-50%) scale(1.1,1.1);
  }
  .left .round img{
    transform:translate(-50%,-50%) scale(1.1,1.1);
    -ms-transform:translate(-50%,-50%) scale(1.1,1.1);   /* IE 9 */
    -moz-transform:translate(-50%,-50%) scale(1.1,1.1);  /* Firefox */
    -webkit-transform:translate(-50%,-50%) scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%) scale(1.1,1.1);
  }
  .left .round img:hover{   
    transform:translate(-55%,-50%) scale(1.1,1.1);
    -ms-transform:translate(-55%,-50%) scale(1.1,1.1);   /* IE 9 */
    -moz-transform:translate(-55%,-50%) scale(1.1,1.1);  /* Firefox */
    -webkit-transform:translate(-55%,-50%) scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:translate(-55%,-50%) scale(1.1,1.1);
  }
   .enlarge .round img:hover{
    transform:translate(-50%,-50%) scale(1.2,1.2);
    -ms-transform:translate(-50%,-50%) scale(1.2,1.2);   /* IE 9 */
    -moz-transform:translate(-50%,-50%) scale(1.2,1.2);  /* Firefox */
    -webkit-transform:translate(-50%,-50%) scale(1.2,1.2); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%) scale(1.2,1.2);
  }  
  

  input::-webkit-input-placeholder{color: inherit;font-size: inherit;}    /* 使用webkit内核的浏览器 */
  input:-moz-placeholder{color: inherit;font-size: inherit;}                  /* Firefox版本4-18 */
  input::-moz-placeholder{color: inherit;font-size: inherit;}                  /* Firefox版本19+ */
  input:-ms-input-placeholder{color: inherit;font-size: inherit;}           /* IE浏览器 */
a{
  text-decoration: none;
}
/* ------------- module ----------------- */
  .module{
    position: absolute;    
    z-index: 49;
    box-sizing: border-box;
    line-height: 0.48rem;
  }
  #app .module{
    overflow: visible;
  }
/* ------------- rectangle -------------- */
  .rectangle{
    width: 3rem;
    height: 1rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }
  .rectangle a,.radius a{
    display: block;
    width: 100%;
    height: 100%;
  }
/* ------------- radius ----------------- */
  .radius a{
    display: block;
    width: 100%;
    height: 100%;
  }
  .radius {
    width: 2.667rem;
    height: 2.667rem;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }
/* ------------- editor ----------------- */
  .editor{
    box-sizing: border-box;
    padding: 0.2rem;
    width:2.1rem;
    height:0.9rem;
    word-break:break-all;
    word-wrap:break-word;    
  }
  .editor a{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .editor * {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }
  .editor a:hover {
    text-decoration:none;
  }
  .editor p {
    margin:0.133rem 0;
  }
/* ------------- picture ---------------- */
  .picture {
    width: 5rem;
    height: 2.88rem; 
    border-width: 0;
    border-style: solid;
    border-color: #000;  
  }
  .picBox{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .picture img{
    width: 100%;
    min-height: 100%;      
  }
/* ------------- button ----------------- */
  .button{
    width: 2rem;
    height: 0.8rem;
    border: 0.0267rem solid #bbbbbb;
    border-radius: 0.1067rem;
    line-height: 0.8rem;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
  }
  .button a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: inherit;
    line-height: inherit;
    overflow: hidden;
    color: inherit;
  }
  .button_radius{
    background: #4AB344;
    border-radius: 0.08rem;
    border:none;
  }
  .button_rightangle{
    background: #4AB344;
    border:none;
    border-radius: 0;
  }
  .button_border{
    border-radius: 0;
    border:0.0267rem solid #4AB344;
  }
  .button_gradients{
    background: -webkit-linear-gradient(#A5D9A2, #4BB345); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#A5D9A2, #4BB345); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#A5D9A2, #4BB345); /* Firefox 3.6 - 15 */
    background: linear-gradient(#A5D9A2, #4BB345); /* 标准的语法 */
    border-radius: 0.08rem;
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.2);
    border-width: 0;
  }
  .button_gradients_border{
    background: -webkit-linear-gradient(#A5D9A2, #4BB345); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#A5D9A2, #4BB345); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#A5D9A2, #4BB345); /* Firefox 3.6 - 15 */
    background: linear-gradient(#A5D9A2, #4BB345); /* 标准的语法 */
    border-radius: 0.08rem;
    border:1px solid #4AB344;
  }
/* ------------- line ------------------- */
  .hline{
    width: 10rem;  
    max-height: 0px;
    height: 0!important;   
    border: 0;
    border-top-width: 1px;
    border-left-width: 0px!important;
    border-right-width: 0px!important;
    border-bottom-width: 0px!important;
    border-style: solid;
    border-color: #333;    
  }
  .hline .resizeBox{
    padding: 5px 0;
    margin-top: -6px;
    box-sizing: content-box;
  }
  .hline .resize{
    display: none;
  }
  .hline .resize.e,.hline .resize.w{
    display: block;
  }
  .sline{
    max-width: 0px;
    width: 0px!important;
    height: 10rem;
    border: 0;
    border-top-width: 0px!important;
    border-left-width: 1px;
    border-right-width: 0px!important;
    border-bottom-width: 0px!important;   
    border-style: solid;
    border-color: #333;     
  }  
  .sline .resize{
    display: none;
  }
  .sline .resize.n,.sline .resize.s{
    display: block;
  }
  .sline .resizeBox{
    padding: 0 5px;
    margin-left: -6px;
    box-sizing: content-box;
  }  
/* ------------- menubar ---------------- */
  .menubar{
    width: 1.33rem;
    height: 1.33rem;
    background-color: #f2f2f2;   
  }
  .menubar-icon{
    width: 100%;
    height: 100%;    
    background-image: url(http://static.ebanhui.com/design/image/menu.png);
    background-size: 0.5333rem 0.48rem;
    background-position: center;
    background-repeat: no-repeat;
  } 
  .menu-fixed{
    display: none;
    position: fixed;
    left: 0;
    top:0 ;
    width: 5rem;
    height: 100%;
    background-color: #333;
  }
  .menu-fixed li{
    width: 100%;
    display: inline-block;
    text-indent: 1.6rem;
    font-size: 0.375rem;
    background-size: 0.427rem 0.427rem;
    background-repeat: no-repeat;
    background-position:1rem center;
    border-bottom: 1px solid #4A4D54;
  }
  .menu-fixed .rj{
    float: right;
    width: 1rem;
    height: 100%;
    background-image: url(http://static.ebanhui.com/design/image/jt.png);
    background-repeat: no-repeat;
    background-size: 0.427rem 0.427rem;
    background-position: center;
  }
/* ------------- editAdd ---------------- */
  .module .editAdd{   
    width: 100%;
    height: 100%;
  }
  .module .editAdd .add-icon{
    width: 100%;
    height: 100%;
    background: url(icon/addmodule.png) center center no-repeat;   
    border:1px solid #c0c0c0;
    box-sizing: border-box;
    background-color: #F2F2F2;
  }
  .module .editAdd .add-icon:hover{
    background-color: #169BD5;
  }
/* ------------- course ----------------- */
  .course{
    width: 4.4rem;
    min-width: 4.4rem;
    height: 4rem;   
    cursor: pointer; 
    background-color: #fff;       
  }
  .course .resizeBox{
    min-width: 4.4rem;
  }
  .course .editAdd{
    height:auto;
    min-height: 4rem;
    overflow: hidden;
  }
  .course .editAdd .add-icon{
    height: 4rem;
  }
  .course .imgbox {    
    /*height: 2.48rem;*/
    min-height: 2.48rem;    
  }
  .course .listBox{    
     position: relative;
     width: 100%;
     height: 100%;
     overflow: hidden;
  }  
  .course .imgbox img{
    display: block;
    width: 100%;
    height: 100%;
  }
  .course .courseTit{  
    height: 0.533rem;
    line-height: 0.533rem;
    font-size: 0.4rem;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .course .speak, .course .number, .course .popularity,.course .price{
    float: left;
    width: 2.2rem;
    font-size: 0.32rem;
    line-height: 0.48rem;
    height: 0.48rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999999;
  }
  .course .price{
    color: #FF6600;
  }
  .course .number i{    
    display: inline-block;
    margin-right: 0.2rem;
    width: 0.32rem;
    height: 0.32rem;
    line-height: 0.48rem;
    background: url(http://static.ebanhui.com/design/image/man.png) no-repeat left center;
    background-size: auto 100%;
  }
  .course .popularity i{
    display: inline-block;
    margin-right: 0.1rem;
    width: 0.32rem;
    height: 0.32rem;
    background: url(http://static.ebanhui.com/design/image/time.png) no-repeat left center;
    background-size: auto 100%;
  }
  .editAdd.two .speak, .editAdd.two .popularity, .editAdd.two .number, .editAdd.two .price{
    width: 50%;
  } 
  .editAdd.two div:nth-child(4){
    text-align: right;   
  }
  .editAdd.two div:nth-child(6){  
    text-align: right;   
  }
  .editAdd.three .speak, .editAdd.three .popularity, .editAdd.three .number, .editAdd.three .price{
    width: 33.3%;
  }
  .editAdd.three div:nth-child(4){
    text-align: center;   
  }
  .editAdd.three div:nth-child(5){
    text-align: right;   
  }  
  .editAdd.four .speak, .editAdd.four .popularity, .editAdd.four .number, .editAdd.four .price{
    width: 25%;    
  }
  .editAdd.four div:nth-child(5){
    text-align: right;   
  }
  .editAdd.four div:nth-child(6){  
    text-align: right;   
  }
  
/* ------------- audition --------------- */
  .audition {
    min-width: 4.4rem;
    width: 4.4rem;
    height: 3.6rem;
    cursor: pointer;
  }
   .audition .editAdd{
    width: 100%;
    height: auto;
    min-height: 3.6rem;
    overflow: hidden;
  }
  .audition .resizeBox{
    min-width: 4.4rem;
  }
  .audition a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  .audition img {
    width: 100%;
    min-height: 2.48rem;
  }
  .audition .editAdd .add-icon{
    height: 3.6rem;
  }
  .audiTit{
    float: left;
    width: 100%;
    display: inline-block;
    height: 0.48rem;
    line-height: 0.48rem;
    font-size: 0.4rem;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }   
  .audition .speak, .audition .number{
    float: left;
    width: 50%;
    font-size: 0.32rem;
    line-height: 0.48rem;
    height: 0.48rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999999;
  }
  .audition div:nth-child(4){
    float: right;
    text-align: right;
  }
  .audition .number i{    
    display: inline-block;
    margin-right: 0.2rem;
    width: 0.32rem;
    height: 0.32rem;
    line-height: 0.48rem;
    background: url(http://static.ebanhui.com/design/image/man.png) no-repeat left center;
    background-size: auto 100%;
  }
  .audition .resizeBox .w, .audition .resizeBox .e{
    display: block;
  }
/* ------------- teacher ---------------- */
  .teacher{
    width: 4.4rem;
    height: 5.73rem;
  } 
  .teacher .editAdd{
    width: 100%;
    height: 100%;
  }
  .teacher .addtea-icon{
    width: 100%;
    height: 100%;
    background: url(icon/addtea.png) center center no-repeat;
    background-size: auto 100% ;
  }
  .teacher .editAdd .team_bk {
    width: 100%;
    height: 100%;

  }    
  .teacher .editAdd  .team_hbj {
      height:4.26rem;
      width:100%;
      padding-top:1px;
  }
  .teacher .editAdd  .team_hbj img {
    border-radius:100%;
    margin:0 auto;
    display: block;
    width:2.61rem;
    height:2.61rem;
  }
  .teacher .editAdd  .team_h3 {
    display: inline-block;
    font-size:0.4rem;
    line-height: 0.7rem;
    text-align:center;
    width:100%;
    overflow:hidden;
    color:#333
  }
  .teacher .editAdd  .team_p1 {
    display: inline-block;
    color:#999;
    text-align:center;
    width:100%;
    overflow:hidden;
    font-size:0.32rem;   
    height: 0.7rem;
    line-height: 0.7rem;
  }
  .teacher .editAdd .team_p2 {
    display: inline-block;   
    width:100%;
    height: 1.44rem;
    text-align:left;
    color:#333;
    font-size:0.32rem;
    line-height:0.48rem;
    overflow: hidden;  
  }
/* ------------- footernav -------------- */
  .footernav{
    position:fixed;
    left:0;
    bottom: 0;   
    width:10rem;
    height:1.5rem;
    background-color: #F2F2F2
  }
  .footernav .editbox{
    width: 100%;
    height: 100%;
  }
  .footernav li{
    float: left;   
  }
  .footernav li.one{
    width: 100%;
  }
  .footernav li.two{
    width: 50%;
  }
  .footernav li.three{
    width: 33.33%;
  }
  .footernav li.four{
    width: 25%;
  }
  .footernav li.five{
    width: 20%;
  }
  .footernav li img{
    display: block;
    margin: 0.213rem auto 0.1rem;
    width: 0.64rem;
    height: 0.64rem;
  }
  .footernav li img:nth-child(1){
    display: block;
  }
  .footernav li img:nth-child(2){
    display: none;
  }
  .footernav li.on img:nth-child(1){
    display: none;
  }
  .footernav li.on img:nth-child(2){
    display: block;
  }
  .footernav li span{
    display: block;
    text-align: center;
    color: #333;
    font-size: 0.32rem;
  }
/* ------------- information ------------ */
  .information {
    width: 10rem;  
  }
  .information .inforCon{
    border-top: 1px solid #C8C8C8;
  }
  .information li{
    padding: 0.133rem;
    width: 10rem;
    height: 2.25rem;
    box-sizing: border-box;
    border-bottom: 1px solid #C8C8C8;
    overflow: hidden;
  }
  .information li .title{
    float: left;
    margin-bottom: 0.1rem;
    width: 5.867rem;
    height: 1.59rem;
    color: #777;
    font-size: 0.48rem;
    line-height: 0.534rem;
    word-break:break-all;
    overflow: hidden;
  }
  .information li img.newImg{
    float: right;
    width: 3.04rem;
    height: 1.92rem;
  }
  .information li .info{
    float: left;
    width: 5.867rem;
    height: 0.534rem;
    font-size: 0.32rem;
  }
  .information li .info span{
    margin-right: 5px;
    font-size: 0.32rem;
    color: #ccc;
  }
  .information li.news-text{
    height: 0.85rem;  
    border-bottom: 0;
  }
  .information li.news-text img {
    float: left;
    width: 0.53rem;
    height: 0.53rem;
  }
  .information li.news-text .title{
    text-indent: 0.13rem;
    display: inline-block; 
    height: 0.59rem;
    line-height: 0.59rem;
    font-size: 0.427rem;
    max-width: 9.2rem;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
/* ------------- carousel --------------- */
  .carousel {
    width:10rem; 
    height:4.53rem 
  }
  .carousel img{
    width: 100%;
    height: 100%;
  }
  .carousel .screenBox{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .carousel .screenBox .img_ul {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .carousel .screenBox .barbox{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 3;    
  }
  .barbox li {
    width: 0.32rem;
    height: 0.32rem;
    float: left;
    margin: 0 0.08rem;  
    border-radius: 50%;
    background-color:#6297c5; 
  }
  .barbox li.on {
    background-color:#9E9E9E;
  }
  .transition {
     transition: all 400ms;
    -moz-transition: all 400ms; 
    -webkit-transition: all 400ms; 
    -o-transition: all 400ms;
  }
/* ------------- headers ----------------- */
  .headers{
    width: 10rem;
    height: 1.33rem;
    background-color: #F2F2F2;
    z-index: 1;
  }
