  
/* ------------- module ----------------- */
  .module{
    position: absolute;    
    z-index: 49;
    box-sizing: border-box;
    line-height: 0.48rem;
  }
  #app .module{
    overflow: visible;
  }
/* ------------- rectangle -------------- */
  .rectangle{
    width: 3rem;
    height: 1rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }
  .rectangle a,.radius a{
    display: block;
    width: 100%;
    height: 100%;
  }
/* ------------- editor ----------------- */
  .editor{
    box-sizing: border-box;
    padding: 0.2rem;
    width: 10rem;
    height: 5rem;
    word-break:break-all;
    word-wrap:break-word;
    border:1px solid #ccc;
  }
  .editor * {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }
  .editor a:hover {
    text-decoration:none;
  }
  .editor p {
    margin:5px 0;
  }
/* ------------- picture ---------------- */
  .picture {
    width: 5rem;
    height: 2.88rem;  
  }
  .picBox{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .picture img{
    width: 100%;
    min-height: 100%;   
  }
/* ------------- button ----------------- */
  .button{
    width: 2rem;
    height: 0.8rem;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    line-height: 0.8rem;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
  }
  .button a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: inherit;
    line-height: inherit;
    overflow: hidden;
    color: inherit;
  }
/* ------------- line ------------------- */
  .hline{
    width: 10rem;  
    max-height: 0px;
    height: 0!important;   
    border: 0;
    border-top-width: 1px;
    border-left-width: 0px!important;
    border-right-width: 0px!important;
    border-bottom-width: 0px!important;
    border-style: solid;
    border-color: #333;    
  }
  .hline .resizeBox{
    padding: 5px 0;
    margin-top: -6px;
    box-sizing: content-box;
  }
  .hline .resize{
    display: none;
  }
  .hline .resize.e,.hline .resize.w{
    display: block;
  }
  .sline{
    max-width: 0px;
    width: 0px!important;
    height: 200px;
    border: 0;
    border-top-width: 0px!important;
    border-left-width: 1px;
    border-right-width: 0px!important;
    border-bottom-width: 0px!important;   
    border-style: solid;
    border-color: #333;     
  }  
  .sline .resize{
    display: none;
  }
  .sline .resize.n,.sline .resize.s{
    display: block;
  }
  .sline .resizeBox{
    padding: 0 5px;
    margin-left: -6px;
    box-sizing: content-box;
  }
/* ------------- 悬浮特效 --------------- */
  .enlarge img{
    transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -moz-transition: transform 0.3s; /* Firefox 4 */
    -webkit-transition: transform 0.3s; /* Safari 和 Chrome */
    -o-transition: transform 0.3s; 
  }
  .enlarge img:hover{
    transform:scale(1.2,1.2);
    -ms-transform:scale(1.2,1.2);   /* IE 9 */
    -moz-transform:scale(1.2,1.2);  /* Firefox */
    -webkit-transform:scale(1.2,1.2); /* Safari 和 Chrome */
    -o-transform:scale(1.2,1.2);   
  }  
  .left img{
    transform:scale(1.1,1.1);
    -ms-transform:scale(1.1,1.1);   /* IE 9 */
    -moz-transform:scale(1.1,1.1);  /* Firefox */
    -webkit-transform:scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:scale(1.1,1.1);
    transition: transform 0.3s;
    -moz-transition: transform 0.3s; /* Firefox 4 */
    -webkit-transition: transform 0.3s; /* Safari 和 Chrome */
    -o-transition: transform 0.3s; 
  }
  .left img:hover{
    transform:translateX(-5%) scale(1.1,1.1);
    -ms-transform:translateX(-5%) scale(1.1,1.1);   /* IE 9 */
    -moz-transform:translateX(-5%) scale(1.1,1.1);  /* Firefox */
    -webkit-transform:translateX(-5%) scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:translateX(-5%) scale(1.1,1.1);
  }
  .right img{
    transform:scale(1.1,1.1);
    -ms-transform:scale(1.1,1.1);   /* IE 9 */
    -moz-transform:scale(1.1,1.1);  /* Firefox */
    -webkit-transform:scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:scale(1.1,1.1);
    transition: transform 0.3s;
    -moz-transition: transform 0.3s; /* Firefox 4 */
    -webkit-transition: transform 0.3s; /* Safari 和 Chrome */
    -o-transition: transform 0.3s; 
  }
  .right img:hover{
    transform:translateX(5%) scale(1.1,1.1);
    -ms-transform:translateX(5%) scale(1.1,1.1);   /* IE 9 */
    -moz-transform:translateX(5%) scale(1.1,1.1);  /* Firefox */
    -webkit-transform:translateX(5%) scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:translateX(5%) scale(1.1,1.1);
  }
  .moveup{ 
     transition: transform 0.3s;
    -moz-transition: transform 0.3s; /* Firefox 4 */
    -webkit-transition: transform 0.3s; /* Safari 和 Chrome */
    -o-transition: transform 0.3s; /* Opera */
  }
  .moveup:hover{
    transform:translateY(-5%);
    -ms-transform:translateY(-5%);   /* IE 9 */
    -moz-transform:translateY(-5%);  /* Firefox */
    -webkit-transform:translateY(-5%); /* Safari 和 Chrome */
    -o-transform:translateY(-5%);
  }
  #app .on_module:hover{
    transform:translateY(0%);
    -ms-transform:translateY(0%);   /* IE 9 */
    -moz-transform:translateY(0%);  /* Firefox */
    -webkit-transform:translateY(0%); /* Safari 和 Chrome */
    -o-transform:translateY(0%);
  }
  /*图片形状*/
  .square{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);   /* IE 9 */
    -moz-transform:translate(-50%,-50%);  /* Firefox */
    -webkit-transform:translate(-50%,-50%); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%);
    width: 118px;
    height: 118px;
    overflow: hidden;
  }
  .square img{
    width: auto!important;
    height: auto;
    margin: 50% 0 0 50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);   /* IE 9 */
    -moz-transform:translate(-50%,-50%);  /* Firefox */
    -webkit-transform:translate(-50%,-50%); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%);
  }
  .right .square img{
    transform:translate(-50%,-50%) scale(1.1,1.1);
    -ms-transform:translate(-50%,-50%) scale(1.1,1.1);   /* IE 9 */
    -moz-transform:translate(-50%,-50%) scale(1.1,1.1);  /* Firefox */
    -webkit-transform:translate(-50%,-50%) scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%) scale(1.1,1.1);
  }
  .right .square img:hover{   
    transform:translate(-45%,-50%) scale(1.1,1.1);
    -ms-transform:translate(-45%,-50%) scale(1.1,1.1);   /* IE 9 */
    -moz-transform:translate(-45%,-50%) scale(1.1,1.1);  /* Firefox */
    -webkit-transform:translate(-45%,-50%) scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:translate(-45%,-50%) scale(1.1,1.1);
  }

  .left .square img{
    transform:translate(-50%,-50%) scale(1.1,1.1);
    -ms-transform:translate(-50%,-50%) scale(1.1,1.1);   /* IE 9 */
    -moz-transform:translate(-50%,-50%) scale(1.1,1.1);  /* Firefox */
    -webkit-transform:translate(-50%,-50%) scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%) scale(1.1,1.1);
  }
  .left .square img:hover{   
    transform:translate(-55%,-50%) scale(1.1,1.1);
    -ms-transform:translate(-55%,-50%) scale(1.1,1.1);   /* IE 9 */
    -moz-transform:translate(-55%,-50%) scale(1.1,1.1);  /* Firefox */
    -webkit-transform:translate(-55%,-50%) scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:translate(-55%,-50%) scale(1.1,1.1);
  }
  .enlarge .square img:hover{
    transform:translate(-50%,-50%) scale(1.2,1.2);
    -ms-transform:translate(-50%,-50%) scale(1.2,1.2);   /* IE 9 */
    -moz-transform:translate(-50%,-50%) scale(1.2,1.2);  /* Firefox */
    -webkit-transform:translate(-50%,-50%) scale(1.2,1.2); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%) scale(1.2,1.2);
  }  
  .fillet{
    border-radius: 15%;
    transform: scale(1,1);
    -ms-transform:scale(1,1);   /* IE 9 */
    -moz-transform:scale(1,1);  /* Firefox */
    -webkit-transform:scale(1,1); /* Safari 和 Chrome */
    -o-transform:scale(1,1);
  }
  .round{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);   /* IE 9 */
    -moz-transform:translate(-50%,-50%);  /* Firefox */
    -webkit-transform:translate(-50%,-50%); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%);
    border-radius: 50%;   
    width: 118px;
    height: 118px;
    overflow: hidden;
  }
  .round img{
    width: auto!important;
    height: auto;
    margin: 50% 0 0 50%;
    transform:translate(-50%,-50%) ;
    -ms-transform:translate(-50%,-50%);   /* IE 9 */
    -moz-transform:translate(-50%,-50%);  /* Firefox */
    -webkit-transform:translate(-50%,-50%); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%);
  }
  .right .round img{
    transform:translate(-50%,-50%) scale(1.1,1.1);
    -ms-transform:translate(-50%,-50%) scale(1.1,1.1);   /* IE 9 */
    -moz-transform:translate(-50%,-50%) scale(1.1,1.1);  /* Firefox */
    -webkit-transform:translate(-50%,-50%) scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%) scale(1.1,1.1);
  }
  .right .round img:hover{   
    transform:translate(-45%,-50%) scale(1.1,1.1);
    -ms-transform:translate(-45%,-50%) scale(1.1,1.1);   /* IE 9 */
    -moz-transform:translate(-45%,-50%) scale(1.1,1.1);  /* Firefox */
    -webkit-transform:translate(-45%,-50%) scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:translate(-45%,-50%) scale(1.1,1.1);
  }
  .left .round img{
    transform:translate(-50%,-50%) scale(1.1,1.1);
    -ms-transform:translate(-50%,-50%) scale(1.1,1.1);   /* IE 9 */
    -moz-transform:translate(-50%,-50%) scale(1.1,1.1);  /* Firefox */
    -webkit-transform:translate(-50%,-50%) scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%) scale(1.1,1.1);
  }
  .left .round img:hover{   
    transform:translate(-55%,-50%) scale(1.1,1.1);
    -ms-transform:translate(-55%,-50%) scale(1.1,1.1);   /* IE 9 */
    -moz-transform:translate(-55%,-50%) scale(1.1,1.1);  /* Firefox */
    -webkit-transform:translate(-55%,-50%) scale(1.1,1.1); /* Safari 和 Chrome */
    -o-transform:translate(-55%,-50%) scale(1.1,1.1);
  }
   .enlarge .round img:hover{
    transform:translate(-50%,-50%) scale(1.2,1.2);
    -ms-transform:translate(-50%,-50%) scale(1.2,1.2);   /* IE 9 */
    -moz-transform:translate(-50%,-50%) scale(1.2,1.2);  /* Firefox */
    -webkit-transform:translate(-50%,-50%) scale(1.2,1.2); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%) scale(1.2,1.2);
  }  
  /* editbutton */
  .button_radius{
    background: #4AB344;
    border-radius: 0.08rem;
    border:none;
  }
  .button_rightangle{
    background: #4AB344;
    border:none;
    border-radius: 0px;
  }
  .button_border{
    border:1px solid #4AB344;
  }
  .button_gradients{
    background: -webkit-linear-gradient(#A5D9A2, #4BB345); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#A5D9A2, #4BB345); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#A5D9A2, #4BB345); /* Firefox 3.6 - 15 */
    background: linear-gradient(#A5D9A2, #4BB345); /* 标准的语法 */
    border-radius: 0.08rem;
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.2);
    border-width: 0;
  }
  .button_gradients_border{
    background: -webkit-linear-gradient(#A5D9A2, #4BB345); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#A5D9A2, #4BB345); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#A5D9A2, #4BB345); /* Firefox 3.6 - 15 */
    background: linear-gradient(#A5D9A2, #4BB345); /* 标准的语法 */
    border-radius: 0.08rem;
    border:1px solid #4AB344;
  }

  input::-webkit-input-placeholder{color: inherit;font-size: inherit;}    /* 使用webkit内核的浏览器 */
  input:-moz-placeholder{color: inherit;font-size: inherit;}                  /* Firefox版本4-18 */
  input::-moz-placeholder{color: inherit;font-size: inherit;}                  /* Firefox版本19+ */
  input:-ms-input-placeholder{color: inherit;font-size: inherit;}           /* IE浏览器 */
